<h1>Livros Disponíveis:</h1>
<div>
    <a href="/" class="button">Adicionar Livro</a>
</div>
<div class="books-container">
    {{#each books}}
        <div># {{this.id}} - <span class="bold">{{this.title}}</span> - {{this.pages}} páginas.</div>
    {{/each}}
</div>