<h1>Edit o seu livro:</h1>
<form action="" method="post" class="form">
    <div class="form-control">
        <label for="title">Título:</label>
        <input type="text" name="title" value="{{book.title}}">
    </div>
    <div class="form-control">
        <label for="pageqtd">Quantidade de páginas:</label>
        <input type="number" name="pageqtd" value="{{book.pages}}">
    </div>
    <input type="submit" value="Cadastrar">
</form>