<h1>Cadastre o seu livro:</h1>
<form action="/books/insertbook" method="post" class="form">
    <div class="form-control">
        <label for="title">Título:</label>
        <input type="text" name="title" placeholder="Digite o título...">
    </div>
    <div class="form-control">
        <label for="pageqtd">Quantidade de páginas:</label>
        <input type="number" name="pageqtd" placeholder="N">
    </div>
    <input type="submit" value="Cadastrar">
</form>